@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRightToLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
.dropzone {
  @apply h-56 border-gray-300 flex items-center justify-center;
}